.cy-container { background:#fff; }
.cy-container * {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    outline: none !important;
}

.cy-container {
    user-select: none;
}