:host {
    display: block
}

.lookup-drawer {
    margin-top: .25rem;
    border: 1px solid #dddbda;
    border-radius: .25rem;
    background: #fff;
    max-height: 40vh;
    min-height: 8rem;
    overflow: auto;
    padding: .25rem 0
}

.slds-listbox__item {
    padding-left: .5rem;
    padding-right: .5rem
}